:root {
  --border: 0 0% 85%;
  --tracking-normal: 0rem;
  --spacing: 0.25rem;

  @variant dark {
    /* biome-ignore lint/suspicious/noDuplicateCustomProperties: <> */
    --border: 0 0% 18%;
  }
}

@theme inline {
  --color-border: var(--border);
}
